<!DOCTYPE html>
<html>
<head>
<style>
	#word {
		text-align: center;
	}
</style>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
<div id="word"></div>
<form action="" id="input-word">
	<input id="w" autocomplete="off" /><button>Send</button>
</form>
<button id="restart">Restart</button>
<form action="" id="input-letter">
	<input id="l" autocomplete="off" /><button>Guess</button>
</form>

	<script>
	var socket = io();
  $('#input-word').submit(function(){
    socket.emit('new word', $('#w').val());
    $('#w').val('');
    return false;
  });
  socket.on('new word', function(msg){
    $('#word').append($('<p>').text(msg));
  });
	$('#restart').on("click", function(){
		socket.emit('restart');
		console.log("restart")
	})

	socket.on("restart", function(){
		$('#word').empty();
	});
	$('#input-letter').submit(function(){
		socket.emit('guess', $('#l').val());
		$('#l').val('');
		return false;
	});
	socket.on('guess', function(msg){
		$('#word').append($('<p>').text(msg));
	});
	</script>
</body>
</html>
