<!DOCTYPE html>
<html>
<head>
<style>
	#word {
		text-align: center;
	}
</style>
<script src="/socket.io/socket.io.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
<div id="word"></div>
<form action="">
	<input id="w" autocomplete="off" /><button>Send</button>
</form>
<button id="restart">Restart</button>

	<script>
	var socket = io();
  $('form').submit(function(){
    socket.emit('new word', $('#w').val());
    $('#w').val('');
    return false;
  });
  socket.on('new word', function(msg){
    $('#word').append($('<p>').text(msg));
  });
	$('restart').submit(function(){
		socket.emit('restart');
	})
	socket.on("restart", function(){
		$('#word').append($('<p>').text(""));
		});
	</script>
</body>
</html>
